<h1>Cart</h1>
{{# if products}}
<ul class="collection">
    {{# each products}}
    <li class="collection-item avatar">
        <img src="{{this.item.imagePath}}" alt="{{this.item.description}}" class="circle">
        <span class="title"><b>{{this.item.title}}</b></span>
        <p>Quantity: {{this.qty}}<br> Price: &#x20B9;{{this.price}}
        </p>
            <a href="/reduce/{{this.item._id}}">Reduce by 1</a>
            <span> | </span>
            <a href="/remove/{{this.item._id}}">Remove All</a>
    </li>
    {{/each}}
</ul>
<a class="btn btn-waves right" href="/checkout">Checkout</a>
{{/if}}