{{#if category}}
<div class="container-fluid">
    <h4>Products related to
        <b>'{{category}}'</b>
    </h4>
</div>
{{/if}}
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item white-text" href="#one!">
        {{!-- <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p> --}}
        <img src="https://cdn.ndtv.com/tech/gadgets/gta-5-characters.jpg?output-quality=80" height="100%">
    </div>
    <div class="carousel-item white-text" href="#two!">
     <img src="http://mp1st.com/wp-content/uploads/2017/04/Call-of-Duty-WWII.jpg" alt="">
    </div>
    <div class="carousel-item white-text" href="#three!">
   <img src="https://i.ytimg.com/vi/A27te4Z_HWA/maxresdefault.jpg" alt="">
    </div>
    <div class="carousel-item white-text" href="#four!">
        <img src="https://media.contentapi.ea.com/content/dam/ea/easports/fifa/features/2017/cristiano-ronaldo/june5/ronaldo-share.jpg" alt="">
    </div>
</div>
{{# each products }}
<div class="row">
    {{# each this}}
    <div class="col s12 m4 l4">
        <div class="card hoverable">
            <div class="card-image">
                <img class="materialboxed responsive-img center-align" src="{{this.imagePath}}" id="item-image">
                <a href="/add-to-cart/{{this._id}}" class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title">
                    <a href="/products/{{this._id}}" target="_blank">{{this.title}}</a>
                </span>
                <p>
                    <p class="left-align">
                        <b>{{this.company}}</b>
                    </p>
                    <p class="left-align">
                        <b>Platform: </b> {{this.platforms}}
                        <span class="right age">{{this.age}} +</span>
                    </p>
                    <p class="genre">
                        <b>Genres: </b>{{this.genre}}</p>
                </p>
                <div class="card-action">
                    <div>
                        <a class="btn btn-black" href="/buynow/{{this._id}}">Buy Now</a>
                        <span class="price right">&#x20B9;{{this.price}}</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}