<div>
    <div class="row">
        <div class="col l4 m4">
            <img src="{{this.productImage}}" alt="" class="product-image z-depth-5">
        </div>
        <div class="col l4 m4">
            <h5 class="product-title">{{this.productTitle}}</h5>
            <a>Rockstar Games</a>
            <div>
                <p>
                    <h6>
                        <b>Platform: </b>{{this.productPlatforms}}</h6>
                    <h6 class="positive flow-text">In Stock</h6>
                </p>
            </div>
            <h5>Price: &#x20B9;{{this.productPrice}}</h5>
            <h6>
                <b>Sold by:</b>
                <a>{{this.productSeller}}</a>
            </h6>
            <h6>
                <b>Usual Delievery: </b>
                {{this.productDelievery}} days
                </h6>
            <div>
                <a class="halfway-fab waves-effect waves-light red">18</a>
                <p> Please note that this item is not for sale to people under the age of 18. By placing an order for this product,
                    you declare that you are 18 years of age or older. This item must be used responsibly and appropriately.</p>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div id="buy-section">
                <button class="btn btn-black col l7 s6">Add to Cart</button>
                <button class="btn btn-black col l7 s6">Buy Now</button>
            </div>
        </div>
        <div class="col l12">
            <h5>Description</h5>
            <p class="flow-text">{{this.productDescription}}</p>
        </div>
        <div class="col l12">
            <h5>Minimum Requirements</h5>
                <span class="col l12"><b>OS:</b> {{this.productRequirements.os}}</span>
                <span class="col l12"><b>Processor:</b> {{this.productRequirements.processor}}</span>
                <span class="col l12"><b>Memory:</b> {{this.productRequirements.memory}}</span>
                <span class="col l12"><b>GPU:</b> {{this.productRequirements.gpu}}</span>
                <span class="col l12"><b>Sound Card:</b> {{this.productRequirements.sound_card}}</span>
                <span class="col l12"><b>Hard Drive:</b> {{this.productRequirements.hard_drive}}</span>
        </div>
        <div class="col l12">
            <h5>Product Information</h5>
            <span class="col l12"><b>Release Date: </b>{{this.productRelease}}</span>
            <span class="col l12"><b>Product Dimensions: </b>{{this.productDimensions}}</span>
        </div>
    </div>

</div>