<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Game Shot</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {{# if login}}
            <li><a class="center" href="/cart">
            {{# if session.cart.totalQty}}
            <span class="new badge red">{{session.cart.totalQty}}</span> Cart</a> {{else}} Empty Cart (0)</a>
                {{/if}}
            </li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/logout">Logout</a></li>
            {{else}}
            <li><a href="/user/signin">Sign In</a></li>
            <li><a href="/user/signup">Sign Up</a></li>
            {{/if}}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            {{# if login}}
            <li><a class="center" href="/cart">
            {{# if session.cart.totalQty}}
            <span class="new badge red">{{session.cart.totalQty}}</span> Cart</a> {{else}} Empty Cart (0)</a>
                {{/if}}
            </li>
            <li><a class="center" href="/user/profile">Profile</a></li>
            <li><a class="center" href="/user/logout">Logout</a></li>
            {{else}}
            <li><a class="center" href="/user/signin">Sign In</a></li>
            <li><a class="center" href="/user/signup">Sign Up</a></li>
            {{/if}}
        </ul>
    </div>
</nav>